<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>ServletLifeCycle</display-name>
  <servlet>
  <servlet-name>servletifecycle</servlet-name>
  <servlet-class>lifecycle.LifeCycle</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>servletifecycle</servlet-name>
  <url-pattern>/url</url-pattern>
  </servlet-mapping>
  
  
</web-app>